.btnCustom{
  padding: 8px 20px;
}
.sidebar {
  width: 220px;
  height: 100%;
  background: #FBFBFB;
  transition: left 0.4s ease;
}

.sidebar-left div ul {
  background: #FBFBFB;
  height: 100%;
  width: 100%;
  list-style: none;
}
.sidebar-left div ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-left div ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar-left div ul li a {
  position: relative;
  color: #1e1e1e;
  text-decoration: none;
  font-size: 16px;
  padding-left: 12px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
.sidebar-left div ul li.active a {
  color: #1e1e1e;
  background: #eae8e8e6;
  border-left-color: #1e1e1e;
}
.sidebar-left div ul li a:hover {
  background: #eae8e8e6;
  color: #1e1e1e;

}
.sidebar-left div ul ul {
  position: static;
  display: none;
}
.sidebar-left div ul .feat-show.show {
  display: block;
}
.sidebar-left div ul .serv-show.show1 {
  display: block;
}
.sidebar-left div ul ul li {
  line-height: 42px;
  border-top: none;
}
.sidebar-left div ul ul li a {
  font-size: 17px;
  color: #1e1e1e;
  padding-left: 40px;
}
.sidebar-left div ul li.active ul li a {
  color: #1e1e1e;
  background: #FBFBFB;
  border-left-color: transparent;
}
.sidebar-left div ul ul li a:hover {
  color: #1e1e1e !important;
  background: #e7e5e5e6 !important;
}
.sidebar-left div ul ul li.active a {
  color: #1e1e1e !important;
  background: #e7e5e5e6 !important;
}
.sidebar-left div ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
.sidebar-left div ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.content .header {
  font-size: 45px;
  font-weight: 600;
}
.content p {
  font-size: 30px;
  font-weight: 500;
}

.sidebar-left {
  overflow: hidden;
  width: 100%;
  padding-bottom: 20px;
}

.tab-content {
  margin-top: 20px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
  padding: 20px;
}

.col-9 .tab-content {
  min-height: 520px;
}

.sidebar-header-name,
.sidebar-header-update {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
  margin-bottom: 0;
  padding-left: 20px;
}

.sidebar-header-update {
  font-size: 14px;
  color: #aba3a3;
}

.sidebar-header-update i {
  margin-right: 10px;
}

.nav.first {
  display: unset;
}


.head-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

.head-text {
  font-size: 14px;
  color: #797272;
}

.form-group label,
legend {
  color: #797272;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 140px;
}

.cta {
  display: flex;
  padding: 4px 20px;
  text-decoration: none;
  font-size: 22px;
  color: #1e1e1e;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 8px 8px 0 #fbc638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.wrapper span {
  /* transform: skewX(15deg); */
}

.wrapper span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: #1e1e1e;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: #1e1e1e;
  }
}

/* btn address */

.address-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-btn a {
  display: block;
  width: 220px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.address-btn a span,
.address-btn-icon {
  position: relative;
  z-index: 2;
}

.address-btn a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #051922;
  transition: all 0.35s;
}

.address-btn a:hover,
.address-btn-icon:hover {
  color: #fff;
}

.address-btn a:hover:after {
  width: 100%;
}

.address-body-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.info-user-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-user-name {
  font-size: 16px;
  margin-bottom: 0;
  margin-right: 16px;
  line-height: 20px;
  position: relative;
}

.info-user-name::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgb(124, 106, 106);
  right: -10px;
  top: 1px;
}

.info-user-phone {
  font-size: 14px;
  line-height: 20px;
  margin-top: 3px;
  color: #797272;
}

.info-user-address {
  max-width: 320px;
  color: #797272;
  margin-bottom: 10px;
}

.status-group {
  max-width: 320px;
  display: flex;
  align-items: center;
}

.status-defaule {
  width: 80px;
  color: rgb(238, 77, 45);
  border: 1px solid rgb(238, 77, 45);
  padding: 4px;
  text-align: center;
  margin-right: 12px;
  display: none;
}

.status-defaule.active {
    display: block;
}

.address-get {
  width: 150px;
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(0, 0, 0, 0.54);
  padding: 4px;
  text-align: center;
}

.tab-content-design {
    box-shadow: unset;
}

.col-3 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-9 {
    flex: 0 0 80%;
    max-width: 80%;
}

.wrapper-pass {
  margin-left: 220px;
  justify-content: unset;
}

.orderSearch {
        padding: 12px 0;
        margin: 12px 0;
        display: flex;
        align-items: center;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
        color: #212121;
        background: #eaeaea;
        border-radius: 2px;
    }

    .orderSearch i {
        margin: 0 15px;
        color: #bbb;
    }

    .orderSearch input {
        flex: 1;
        font-size: 14px;
        line-height: 16px;
        border: 0;
        outline: none;
        background-color: inherit;
    }
    .tab-content-custom{
        padding: 0;
    }
    .idHomeCustom{
        padding: 20px;
        background-color: #f5f1f1;
        margin-bottom: 20px;
    }
    .tableCustom{
        margin-bottom: 20px;
    }
    .col5Custom{
        color: #26aa99;
        text-align:right;
    }
    .spanCustom1{
        color:rgb(146, 144, 144);
    }
    .spanCustom2{
        color: #ee4d2d;
    }
    #user-cart #myTab a{
        color: #1c1c1c;
    }
    #user-cart #myTab a:hover{
        color: #F07748;
    }
    #user-cart #myTab .active{
        color: #F07748;
    }
    .tongTienCustom{
        color: #ee4d2d;
        font-size:18px;
    }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 1.2;
  margin-block: 0 1.5em;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.2;
  margin-block: 0 0.5em;
}

legend {
  font-weight: 600;
  margin-block-end: 0.5em;
  padding: 0;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
}

input[type="radio"] {
  accent-color: var(--color-primary);
}

table {
  border-collapse: collapse;
  inline-size: 100%;
}

td {
  padding-block: 0.125em;
}

tfoot {
  border-top: 1px solid #b4b4b4;
  font-weight: 600;
}

.align {
  display: grid;
  place-items: center;
}

.card {
  border-radius: 1em;
  padding: 1em;
}

.form {
  display: grid;
  gap: 2em;
}

.form__radios {
  display: grid;
  gap: 1em;
}

.form__radio {
  align-items: center;
  background-color: #fefdfe;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  display: flex;
  padding: 1em;
}

.form__radio label {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 1em;
}

.header {
  display: flex;
  justify-content: center;
  padding-block: 0.5em;
  padding-inline: 1em;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: currentColor;
  inline-size: 1em;
  vertical-align: middle;
}

.iphone {
  background-color: #fbf6f7;
  background-image: linear-gradient(to bottom, #fbf6f7, #fff);
  border-radius: 2em;
  block-size: 812px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  inline-size: 375px;
  overflow: auto;
  padding: 2em;
}

.billing-address-form p input{
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
}
.billing-address-form p textarea{
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ddd;
      padding: 15px;
      height: 120px;
      resize: none;
}

.btnClearAll{
    color:#fff;
    border-radius:8px;
}

.btnAddressCustom {
		display: inline-block;
		font-weight: 400;
		color: #212529;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: transparent;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

.btnAddressCustom:focus{
    outline: 0;
}

.btnDisable {
    color: #fff;
    background-color: #f9dd8a;
    border-color: #f9dd8a;
}

.btnDisable:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
    cursor:pointer !important;
}

.btnActive {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
.btnActive:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
    cursor:no-drop;
}
.addressBodyCustom{
    margin-top: 15px;
    margin-left: 35px;
}